<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuli.mail">

    <!--网络权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--文件读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <!--        <activity-->
        <!--            android:name=".MailActivity"-->
        <!--            android:launchMode="singleTask">-->

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.com.mail" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->

        <!--        </activity>-->

        <activity
            android:name=".UnzipActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.com.unzip" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 为软件添加文件打开方式 -->
            <intent-filter>
                <!-- 前三者必须 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <!-- 文件类型 -->
                <data android:mimeType="*/*" />

            </intent-filter>

        </activity>

        <!-- Url访问权限，兼容android7.0 Uri 地址共享访问 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yzd.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>