<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuli.mail">

    <!--网络权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--文件读写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--    震动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--    电池优化-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!--    前台显示-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--    弹窗显示-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <activity
            android:name=".MailActivity"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.com.mail" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 为软件添加文件打开方式 -->
            <intent-filter>
                <!-- 前三者必须 -->
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <!-- 文件类型 -->
                <data android:mimeType="*/*" />

            </intent-filter>

            <!-- 为软件添加文件分享功能 -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>

        <activity
            android:name=".UnzipActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.com.unzip" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!-- Url访问权限，兼容android7.0 Uri 地址共享访问 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.toprand.app.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".receiver.WifiBroadcastReceiver">
            <intent-filter>
                <!--监听wifi是开关变化的状态-->
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <!--监听wifi连接状态-->
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <!--监听wifi列表变化-->
                <action android:name="android.net.wifi.SCAN_RESULTS" />
            </intent-filter>
        </receiver>

    </application>

    <permission
        android:name="com.zhuli.mail.receiver.permission"
        android:label="receiver permission"
        android:protectionLevel="normal" />

    <!--声明要使用的权限-->
    <uses-permission android:name="com.zhuli.mail.receiver.permission" />

</manifest>